kaggle.json
Pipfile
Pipfile.lock
settings.json
CovidDataAnalysis/.idea/
FootballDataAnalysis/.idea/
CovidDataAnalysis/.pytest_cache/
FootballDataAnalysis/.pytest_cache/
CovidDataAnalysis/.ipynb_checkpoints/
FootballDataAnalysis/.ipynb_checkpoints/

US_AccidentsAnalysis/us-accidents/US_Accidents_Dec21_updated.csv
